<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다.</title>
</head>
<body>
    <div class="congraturation">
        어떤 불쌍한 SW공작소 학생이 만든 미궁입니다.<br>
        이 미궁을 다른 학생들보다 빨리 탈출하시면 상품이 있습니다.<br>
        미궁을 탈출하는 방법은 이 미궁에 있는<br>
        정말 많고 위험한 문제들을 전부 해결하는 것입니다.<br>
        (왜 탈출해야하냐고 물어보시면 할 말이 없습니다.)<br>
        (사실 저도 모르겠어요)<br><br>
        

        GAME RULE<br>
        1. 컴퓨터에서 참여해주세요.(안 그러면 힘들어요)<br>
        2. 정답 입력방법은 주소창을 보면 /question이라고 적혀 있을텐데<br>이 뒤에 /를 하고 정답을 입력하시고 엔터를 누르시면 됩니다.<br>
        ex) 정답: sw공작소 -> /question/sw공작소<br>
        3. 만약 문제가 틀렸다면 다음 문제로 넘어가지 못하고 이전 문제로 다시 들어옵니다.<br>
        4. 참고로 문제 난이도는 제 맘입니다.<br>
        <a href="/question">입장</a>
    </div>
</body>

<style>
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #666699;
        font-family: "yg-jalnan";
        display: flex;
    }

    .congraturation {
        border-radius: 20px;
        padding: 10px;
        margin: auto;
        background-color: #e9c46a;
        /* color: #264653; */
        box-shadow: 0 0 11px rgba(40,40,40,.2); 
    }
</style>
</html>