<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다.</title>
</head>
<body>
    <div class="congraturation">
        미궁 제작자가 전하는 편지<br>
        (* 반드시 읽어주세요!)<br>
        전, 이 미궁을 만든 불쌍한 SW공작소 학생입니다.
        이곳에 여러 문제들을 준비해놓았습니다. 이 문제를
        다 해결하고 탈출한 사람들 중 3명을 뽑아 상품을 드릴
        예정입니다.<br>
		수정: 성공한 사람이 없어서 지금부터 선착순으로 세 분께<br>
		상품을 드리겠습니다.<br>
        친구와 상의하면서 해결 가능하니, 한번 도전해보세요!<br><br>


        GAME RULE<br>
        1. 문제가 나오면 아래에 있는 입력창에 정답을 입력해주시면 됩니다.<br>
        2. 만약 입력한 정답이 틀렸다면 다음 문제로 넘어가지 않습니다.<br><br>
        <a href="/question">입장</a>
    </div>
</body>

<style>
    @font-face {
        font-family: 'IM_Hyemin-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #666699;
        font-family: "IM_Hyemin-Regular";
        font-size: 20px;
        display: flex;
    }

    .congraturation {
        width: 76%;
        border-radius: 20px;
        padding: 10px;
        margin: auto;
        background-color: #e9c46a;
        /* color: #264653; */
        box-shadow: 0 0 11px rgba(40,40,40,.2); 
    }
</style>
</html>