<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축하합니다</title>
</head>
<body>
    <div class="congraturation">
        축하합니다. 모든 문제를 해결하여 미궁을 탈출하셨습니다.
        <br>
        이 미궁을 탈출한 당신의 학번과 이름을 적어주세요.
        <br>
        (이상한 이름을 적을 시 상품이 전달되지 않을 수 있습니다.)
    </div>
    <form method="post" action="/question/finish">
        <input type="text" class="stdntId" name="stdntId" id="stdntId" placeholder="학번" />
        <input type="text" class="name" name="name" id="name" placeholder="이름" />
        <input type="submit" value="완료" />
    </form>
</body>
</html>