<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= questionNum %>번 문제</title>
</head>
<body>
    <div class="question-box">
        <div class="question">
		            <%= question %>

			<form action="/question/check" method="get">
				<input type="text" id="userAnswer", name="userAnswer"autocomplete='off'>
				<input type="submit">
			</form>
        </div>
        <div class="hint">
            힌트 <%= hint %>
        </div>
    </div>
</body>
<style>
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #666699;
        font-family: "yg-jalnan";
        display: flex;
    }

    .question-box {
        border-radius: 20px;
        padding: 10px;
        margin: auto;
        background-color: #e9c46a;
        color: #264653;
        text-align: center;
        box-shadow: 0 0 11px rgba(40,40,40,.2); 
    }

    .question {
        font-size: 26px;
    }
	
    input {
        border: none;
        border-radius: 3px;
        outline: none;
        width: 70%;
        font-family: "yg-jalnan";
        font-size: 16px;
        box-shadow: 0 0 5px rgba(40,40,40,.2); 
    }
</style>
</html>